/.idea/.gitignore
/src/security/ddl/user_role_grants.sql
/src/security/ddl/network_policy.sql
/ui/metabase/secrets.sh
/src/awslayers/setenv.sh
/src/aws_kexp_cloudformation/build/
/src/aws_kexp_cloudformation/setenv_dev_blue.sh
/src/kexp/aws_cloudformation/setenv_dev_blue.sh
/src/kexp/aws_layers/setenv.sh
/src/kexp/setenv.sh
/src/kexp/snowsql_rt.log
/src/kexp/snowsql_rt.log_bootstrap
/src/cms/data/source/DAC_NationalDownloadableFile.csv.gz
/src/snowsql_rt.log
/src/snowsql_rt.log_bootstrap
/storage_integration/build/
/src/kexp/data/export/
/snowsql_rt.log_bootstrap
/snowsql_rt.log
/storage_integration/snowflake_tf_snow_key.pub
/storage_integration/src/terraform/.terraform/
/storage_integration/src/terraform/.terraform.lock.hcl
/storage_integration/src/terraform/terraform.tfstate
/src/kexp/spark/bronze/import_kexp_playlist/
/data/spark/kexp/
/snowsql_rt 2.log
/snowsql_rt 2.log_bootstrap
/src/kexp/pytest/None/silver/KEXP_PLAYLIST_1NF/.part-00000-2352e69b-0546-4df7-a28f-aba2acd5ac87-c000.snappy.parquet.crc
/data/
